<header>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class ="logotipo">
      <img src="assets/img/logotroiamenu.png" alt="logotipo TROIA">
      <span class="title"> | TROIA Equipe de Robótica</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#sec2">Equipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sec3">Areas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sec4">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#sec5">Patrocinadores</a>
      </li>
    </ul>
  </div>
</nav>
<header>